.detail-grid{
    min-height: 100vh;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}


.detail-body p {
    white-space: pre-wrap;
}

.form-label{
    padding-right: 10px;
}

.form-quant{
    display: inline;
    width: 20%;
    border-color: rgba(0, 0, 0, 0.253);
}